footer.footer-3
	.container
		.row.v-center
			.span2
				.span2
					a(href="#").brand Startup
			.span7
				.span7
					.additional-links
						| Be sure to take a look to our 
						a(href="#") Terms of Use
						|  and 
						a(href="#") Privacy Policy
			.span3
				.span3
					h6 New York, NY 
					| 62 West 55th Street, Suite 302
					br 
					| New York, NY, 10230

		// Javascripts
		script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")
		script(type="text/javascript", src="public/js/bootstrap.min.js")
		script(type="text/javascript", src="public/js/jquery.scrollTo-1.4.3.1-min.js")
		script(type="text/javascript", src="public/js/jquery.parallax.min.js")
		script(type="text/javascript", src="public/js/startup-kit.js")
		script(type="text/javascript", src="public/js/jquery.backgroundvideo.min.js")
		script(type="text/javascript", src="public/js/script.js")

